img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 75px;
}

#buttons {
    width: 640px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 637px;
    transform: translate(-50%);
}

button{
    width: 170px;
    height: 60px;
    box-shadow: 5px 5px 0px #000;
    background-color: #31763B;
    border-color: #31763B;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
}