.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 810px;
    border-bottom: 10px solid #4D648D;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 700px;

    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%);
}

.banner .box {
    margin-bottom: 60px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}