.bar {
    height: 40px;
    background-color: #FFF;
    border: 5px solid #283655;
    box-sizing: border-box;
    margin-top: 16px;
}

.bar .progress_bar {
    height: 100%;
    background-color: #4D648D;
    animation: 5s linear infinite alternate progress-animation;
}

.html .progress_bar {
    width: 10%;
}
.css .progress_bar {
    width: 20%;
}
.js .progress_bar {
    width: 30%;
}
.react .progress_bar {
    width: 40%;
}
.node_js .progress_bar {
    width: 50%;
}
.tdd .progress_bar {
    width: 60%;
}
.rest_api .progress_bar {
    width: 70%;
}
.ux .progress_bar {
    width: 80%;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        max-width: 100%;
    }
}