.button {
    display: inline-block;
    background-color: #4D648D;
    box-shadow: 5px 5px 0px #1E1F26;
    padding: 18px 20px;
    margin-right: 0;
    transition: background-color 500ms linear;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.button:hover {
    background-color: #253042;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIBERsKcpsIOQAABZZJREFUWMO9l32MVNUVwH/nvNlhdhbXlWEBdaUgtiEgqLvphqo0RQ1NcLE2tVSJ+ocmfosNpUmtiZQYRauxYqopiUbbRo1tQ0KWtpZ2UfxoAXVFIUTdBVZFWSi7lnWZnXnz3j3+MXfwZbLL7qa0Nzm58+bOeed3z8e9ZwJGH5OBxcA3gRrgCOA4SSMYZb0euBNNXUFt/TxKhQVABtgDxCcDQEdZnwc0s3SVW/Wvz2NarsgAS4Fm/k9jOdmGP9/Vae3F2Nrv2WXt1E/5C3DHyTIwmgfSpNIyu94AuOVsoGmOAbOAif9rAAFKxBGHC8JgBNkUwtSzASYBpwONQG4MGxk3gHgpUCrwRt/xZ2HhtQANwErgIWAtcC1Qd7IBFPiMMF/avP1djRwaOaT124uEIF3DKZNncOHV05h7SROiPwQuB6YA84Ezx1BhYwL4N3CMTY9q6JDQIZdOQZiQFb6+wA51vGAdWzoc0+cr8D3gfmC1n3/kz41xA0hC/gP0cmCP7jqK5mO0qdaUzESltl5DhzbVomTrDTiVWa1nsOL5NHO+0wh8H5j933ogAg7S263P9JgAuiCHnvb0x3rruuc0H6N7BxEG+5UzZsu6v26zvoevIffAFoemJvgkPeGQEb5LAU3AD/wRPImfvyRvr1p8XCclmArmDHfeZuxbOXGbFmIAuWV3GxsfdMCbwG7gVaBvPABZYAXp7KXMbDb2vSXMu0y2vtQuKmWdjBoquLTi0iqWUZwK1pPHFra2GPs7oW6SMDQALvo78GugNNYcOB2YzwVL3MaO1+CcVqF7hz7ZbRo6NHToQCQ6GElQiAkKsWnBlXOkPmXKxcuVm5+Se7b1GS1tBpw/UjhGyoFG4BS+exsz6ky45gGhMCgvvt0jxRgd8hJZGSR0BIORBaEzzQSiHzzxE/nk0RtlxTkIl91UudSmjqcKIsBxYA+RIb+//iLh6SOyZtFMHYqRgRLa9twubXvNtBgTbPhUtOWRzfr6kbI3oOyN0CGIVhI6NVzIdYQS7AX62b5BDxaE6VnoWFwr555aXu/6AuFXy2To7gt1KEbX/ua3ysNXBit3lsMzGJkCko9R9neqj30h8f5RPfA50EnXNmnbGgNI0d/+RYcE6neWH5DDRRPef11xTqdkRJ/tEW256iZ9vAsFhJ6dCuT9maJjDQHAVsL8Ie69WHcfNZynjw05FiFEoZLOSF8oyqF9Sl2DLpmGPvHIWuWVZ3X9PnRHP8pH76n36Bdj8YAk5k+BLXTvcLff95j43QNwII9QKsCkJuk5hnDwQ6FxhpYM5Z9/UBqm6Y+/gVzXvl/o7TbgPZ9XMt5+4A3MdbHxl/rTd7+CXJAz+NkmmXv/RmlII5x1rrDsF/JU+8vCJ7uFC5bIrDpTHl+uuOgQ0Dnc7oc7iCrZOsFLra/hm5nZ3LD0d2/JsrNEneGTrNyo9IVCLm22fp/YzvWr3Zo1a9zq5/8W82Cbw0V/BP7kkzD04kYDSPvmM+MhLgGu4sw5E7n3H6xbNE0baoR8bMf1s4GYChYI7s53zPXdMN3oP7AXeAz4bLwANd4DFYg64CLgctLZRmY2C61XQttKWnMiubQxGIntGTDre/IOx/YNcLT3MPAM8I43XgCKviRHBJAEQLoKIgN8zYPMBU6jJlNDTUYIUhBHRhQ6wnwR2Au0A7uqjBePH3InAEiGIQmRhJnsu56p/jnlX5wHPga6gP4q4xX3R1C+NfGKyWGeLk6UTTJ7za+VfLekXip6UcJQ6H8XeYmH+0eVGqb0LGGounSSgCnf90kVQMlLMQERe7Hk7kcCwL+scilVQ1V2FCQAqAJIgkQjGT8RgCWUkgDJ8ATe/UmAuAoy6f54PABJdw/ngaAKILnuqubKZxtrS3aiLlkTRoNhEtQlxBKzjQTwJUBESdF+HUOvAAAAAElFTkSuQmCC), auto;
}

.button_banner {
    box-sizing: border-box;
    width: 175px;
    height: 60px;
    text-align: center;
}