.progress-bar {
    box-sizing: border-box;
    background-color: #FFF;
    border: 5px solid #283655;
    height: 40px;
}

.progress-bar .bar {
    height: 100%;
    background-color: #4D648D;
    animation: 5s linear infinite alternate progress-animation;
}

.-html .bar {
    width: 20%;
}

.-nodejs .bar {
    width: 60%;
}

.-css .bar {
    width: 30%;
}

.-tdd .bar {
    width: 70%;
}

.-js .bar {
    width: 40%;
}

.-restapi .bar {
    width: 80%;
}

.-react .bar {
    width: 50%;
}

.-ux .bar {
    width: 90%;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        max-width: 100%;
    }
}