.section {
    background-color: #1E1F26;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.section .main-title.-second {
    color: #FFF;
    text-align: center;
    margin-bottom: 60px;
}