.skill-fd {
    display: flex;
    align-items: center;
}

.skill-fd .icon {
    margin-right: 20px;
    width: 90px;
}

.skill-fd .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-fd .title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #FFF;
    text-shadow: 3px 3px 0px #4D648D;
    font-weight: 400;
    margin-bottom: 16px;
}